html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1200px;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#visualizationContent {
    height: 100%;
    max-height: 100%;
    text-align: center;
    float: right;
    padding: 4px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#surveyContainer .survey {
    background-color: #F3FAFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 20px;
    height: 340px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#txtDescription {
    height: 50px;
    font-size: 16px;
}

#surveyContainer .caption {
    width: 100%;
}

#surveyInfo .fa-users {
    color: #00a6e9;
}

.survey .caption {
    color: #333;
    float: left;
    width: 150px;
}

#surveyInfo {
    height: 95px;
    width: 100%;
    border: 1px solid rgb(163, 163, 163);
    float: left;
    overflow: hidden;
}

#surveyInfo .caption {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 92px;
    padding: 4px;
}

.panel-left {
    float: left;
    height: 100%;
    padding: 0;
}

.dropdown-menu {
    margin-top: 10px;
    text-align: left;
}

.dropdown-menu li:not(.divider) a:hover {
    background: #ddd;
}

.survey img {
    height: 30px;
}

.survey a.blue-button, .survey a.gray-button {
    margin-bottom: 10px;
    text-decoration: none;
}

#btn-back {
    margin-top: 30px;
    float: left;
}

#view-instrument, #view-data {
    float: right;
    margin-top: 30px;
}

#surveyContainer {
    max-width: 1000px;
    margin: auto;
    padding:10px;
    overflow-x: hidden;
}

#surveyContainer .survey-title, #surveyContainer .survey-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

#surveyContainer .survey-title {
    height: 68px;
    margin-left: 20px;
    -webkit-line-clamp: 3;
}

#surveyContainer .survey-description {
    height: 80px;
    -webkit-line-clamp: 4;
}

svg {
    cursor: default;
}

#mainContent {
    height: calc(100% - 75px);
    overflow: hidden;
}

.mainContainer {
  min-height: calc(100% - 236px);
}

#listQuestions {
    width: 100%;
    height: calc(100% - 96px);
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    margin-bottom: 0;
    border-right: 1px solid #ddd;
}

#listQuestions label.disabled {
    color: #969696 !important;
    cursor: not-allowed;
}

#listQuestions a, #listQuestions h4 {
    /*width:270px;*/
    color: #000000;
    cursor: default;
    text-decoration: none;
    font-size: 14px;
    margin: 0 !important;
    display: inline-block;
}

text.shadow {
    stroke: white;
    stroke-width: 2.5px;
    opacity: 0.9;
}

#options {
    width: 300px;
    height: 100px;
    float: right;
}

#labels {
    width: 30%;
    height: 100px;
    float: left;
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    float: left;
    margin-left: -10px;
    margin-right: 5px;
}

#options .dropdown {
    width: 198px;
    float: right;
}

#top-bar .btn-group {
    margin: 5px;
}

#top-bar {
    width: 100%;
    margin-bottom: 2px;
    height: 90px;
}

#map-canvas {
    height: calc(100% - 172px);
    width: calc(100% - 320px);
    margin: 0 10px;
    border: 1px solid #666;
    position: absolute;
    z-index: -1;
    display: none;
}

.panel-primary {
    border-color: #000000;
}

#captionContainer {
    width: calc(100% - 153px);
    float: left;
    margin-bottom: 0;
    border-radius: 0;
    border-color: #000;
    height: 100%;
}

#viewContainer {
    width: 150px;
    height: 90px;
    float: right;
    border-color: #000;
    margin-bottom: 0;
    border-radius: 0;
}

#viewContainer .panel {
    box-shadow: none;
}

#captionContainer .panel-heading, #viewContainer .panel-heading {
    height: 38px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    text-shadow: 0 1px 0 #0A0A0A;
    background: #42484E;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    border-color: #000;
}

#viewContainer button {
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    border: 1px solid rgb(108, 96, 96);
    opacity: 1;
    text-shadow: 0 1px 0 #fff;
}

#viewContainer .btn-default.disabled {
    color: #FFF;
    border: 1px solid rgb(108, 96, 96) !important;
    background-color: #5F5F5F !important;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
    background-image: none;
    text-shadow: 0 1px 0 #000;
    opacity: 1;
}

#viewContainer .btn[disabled], #btnCategories[disabled] {
    cursor: not-allowed; /* Confirmed broken for current version of bootstrap https://github.com/twbs/bootstrap/issues/16088 */
    color: #AAA;
    text-shadow: 0 1px 0 #fff;
}

.caption p {
    clear: left;
}

#btnCategories {
    height: 68px;
    color: #000;
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    text-shadow: 0 1px 0 #fff;
    border: 1px solid rgb(108, 96, 96);
    position: absolute;
    left: 7px;
    top: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

span.btnAdd, span.btnSubtract {
    cursor: pointer;
    font-size: 14px;
    color: #AAA;
    margin-top: 7px;
    display: none;
    float: right;
    right: 18px;
    width: 0;
    height: 0;
}

span.btnAdd:hover {
    color: #777
}

hr {
    margin: 0;
}

.radio, .checkbox {
    display: block;
    min-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

#listQuestions .caret {
    margin-left: -15px;
    margin-top: 5px;
}

.caret {
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    color: #666;
}

#listQuestions li {
    /*padding:10px 10px;*/
    outline: none;
    list-style-type: none;
}

.panel-collapse li {
    border-bottom: 1px solid #838383;
}

.info-symbol:hover {
    cursor: pointer;
}

#listQuestions li:nth-child(even) {
    background: #FFF;
}

#listQuestions li:nth-child(odd) {
    background: #EFEFEF;
}

#listQuestions li > .collapse {
    border-top: 1px solid #aaa;
    margin: -1px;
}

#listQuestions li:not(.indented) {
    border: 1px solid #aaa;
    border-top: 0;
}

#listQuestions li:hover {
    background-color: rgb(200, 250, 255);
}

.indented {
    border-left: 10px solid rgb(131, 131, 131);
    border-right: 1px solid #aaa;
}

.node text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tooltip {
    position: absolute;
    z-index: -1;
    top: 100px;
    left: 100px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #000;
    /* background: #222222; */
    background: #fff;
    opacity: .9;
    /* color: #eeeeee; */
    color: black;
    padding: 10px;
    font-size: 12px;
    z-index: 10;
}

.tooltip .title {
    font-size: 13px;
}

.tooltip .name {
    font-weight: bold;
}

#listQuestions a, #listQuestions label {
    font-weight: normal;
    color: #000;
    margin-bottom: 0;
    padding: 5px;
    padding-right: 20px;
    width: 100%;
}

li .checkbox {
    margin-left: 10px;
}

.active {
    background: #C2DBF0 !important;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.navbar-brand img {
    display: inline-block;
    height: 100%;
}

.navbar-collapse.in {
    background: #42484E;
    border: 1px solid black;
}

.navbar > .container {
    /*margin-left: 15px;*/
}

.container>.navbar-header {
  height:100%;
}

.navbar .container {
    /*position: absolute;*/
    /*width: 90%;*/
    height:100%;
    margin-left:0;
}

.navbar-brand {
    color: #c8c8c8;
    float: left;
    /*padding: 0 15px;*/
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    height: 75px;
    z-index:1;
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.navbar-inverse .navbar-brand {
    color: #DDD;
    height: 100%;
    text-shadow: 0 1px 0 #000;
    padding: 4px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #c9c9c9;
}

ul.navbar-nav  {
    margin-top: 12px;
    margin-left: 40px;
    border-radius: 4px;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
}

.intro-divider {
    width: 100%;
    margin-top: 60px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

path[data-zip]:hover {
    /*fill: rgba(206, 252, 255, 0.71);*/
    stroke-width: 2px;
    /*stroke: #ff9e18*/
}

path[data-zip] {
    stroke: #000;
    stroke-width: 1px;
}

.vertical-mean-line {
    stroke-width: 2px;
}

.zip-path:hover {
    opacity: 0.5;
}

#visualizationContent * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.zoom_in:hover, .zoom_out:hover {
    fill: #EEE;
    cursor: pointer;
}

#tutorialContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    text-align: center;
}

#chkHideTip {
    bottom: 130px;
    position: fixed;
    right: 100px;
    cursor: pointer;
    outline: none;
}

#btnNextTip {
    bottom: 100px;
    position: fixed;
    right: 280px;
    width: 200px;
    outline: none;
}

#btnPreviousTip {
    bottom: 100px;
    position: fixed;
    right: 500px;
    width: 200px;
    outline: none;
}

.tip[data-id="0"] {
    left: 50%;
    top: calc(50% - 150px);
}

.tip[data-id="1"] {
    left: 16.67%;
    top: 210px;
}

.tip[data-id="2"] {
    height: calc(100% - 300px);
    max-height: 625px;
    left: calc(100% - 347px);
    top: 112px;
}

.tip[data-id="2"] > div {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    overflow-y: auto;
    position: absolute;
}

.tip[data-id="3"] {
    left: calc(16.67% - 114px);
    top: 202px;
}

.tip[data-id="4"] {
    left: calc(16.67% - 116px);
    top: calc(100% - 343px);
}

button:focus {
    outline: none !important;
}

.blue-button {
    background: -webkit-linear-gradient(top, #C2FAFF 0%, #7FD8E3 100%);
    background: linear-gradient(to bottom, #C2FAFF 0%, #7FD8E3 100%);
    border: 1px solid #3DC3D3;
    color: #00566F;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px rgba(255, 255, 255, 0.6);
    padding: 5px 8px 5px 8px;
    border-radius: 4px;
    display: inline-block;
    min-width: 50px;
    text-align: center;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5), 0 1px 0 0 white;
}

.blue-button:hover {
    background: -webkit-linear-gradient(top, #E7FDFF 0%, #92E3ED 100%);
    background: linear-gradient(to bottom, #E7FDFF 0%, #92E3ED 100%);
}

#btnSkipTips {
    bottom: 100px;
    position: fixed;
    right: 60px;
    width: 200px;

}

.gray-button {
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #dedede 100%);
    background: linear-gradient(to bottom, #f5f5f5 0%, #dedede 100%);
    border: 1px solid #bbb;
    color: #444;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px rgba(255, 255, 255, 0.6);
    padding: 5px 8px 5px 8px;
    border-radius: 4px;
    display: inline-block;
    min-width: 50px;
    text-align: center;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5), 0 1px 0 0 white;
}

.gray-button:hover {
    background-image: -webkit-linear-gradient(top, #FFF, #dfdddd);
    background-image: -moz-linear-gradient(top, #FFF, #dfdddd);
    background-image: -o-linear-gradient(top, #FFF, #dfdddd);
    background-image: -ms-linear-gradient(top, #FFF, #dfdddd);
}

.flag-text:hover {
    cursor: pointer;
}

#flagContainer {
    width: 500px;
    left: calc(50% - 250px);
    top: 200px;
    padding-bottom: 50px;
}

#flagContainer .gray-button {
    float: right;
}

#btnHelp, #btnGuide {
    display: none;
}

.modal-content {
    border-radius: 0;
    border: 3px solid #7EB6E7;
}

.modal-header {
    padding: 10px;
    border-bottom: 0;
    min-height: 16.42857143px;
    background: #7EB6E7;
    margin: -3px;
    color: #FFF;
    text-shadow: 0 1px 0 #0A0A0A;
}

.modal-footer {
    margin-top: 15px;
    padding: 0 20px 20px;
    text-align: right;
    border-top: 0;
}

.modal {
    overflow: hidden;
}

.modal-backdrop {
    opacity: 0.1 !important;
    height: calc(100% - 75px);
    margin-top: 75px;
}

/* -----  Arrow box ---------- */

.arrow_box:after, .arrow_box:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-width: 15px;
}

.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-width: 22px;
}

div.arrow_box {
    position: relative;
    background: #FFF;
    border: 3px solid #389AA6;
    min-height: 120px;
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    z-index: 2000;
    -webkit-box-shadow: 2px 5px 10px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 2px 5px 10px rgba(50, 50, 50, 0.6);
    box-shadow: 2px 5px 10px rgba(50, 50, 50, 0.6);
    color: rgb(0, 86, 111);
}

div.arrow_box img {
    border: 1px solid rgb(16, 112, 124);
    width: 100%;
    margin-top: 10px;
}

div.arrow_box .carousel-indicators {
    bottom: 0;
    width: 100%;
    left: 0;
    margin: 0;
    background: rgba(183, 245, 251, 0.3);
    border-top: 1px solid #646464;
}

div.arrow_box .carousel-indicators .active {
    background-color: #000 !important;
}

div.arrow_box .carousel-inner .active {
    background: none !important;
}

div.arrow_box .carousel {
    height: 160px;
    border: 1px solid #646464;
    background: #EFFEFF;
    border-radius: 5px;
    margin-top: 15px;
}

div.arrow_box .carousel img {
    border: 1px solid rgb(16, 112, 124);
}

/*Arrow on top*/
.arrow_top:after, .arrow_top:before {
    bottom: 100%;
    left: 50%;
}

.arrow_top:after {
    border-bottom-color: #389AA6;
    margin-left: -15px;
}

.arrow_top:before {
    border-bottom-color: #389AA6;
    margin-left: -22px;
}

/*Arrow on bottom*/
.arrow_bottom:after, .arrow_bottom:before {
    top: 100%;
    left: 50%;
}

.arrow_bottom:after {
    border-top-color: #389AA6;
    margin-left: -15px;
}

.arrow_bottom:before {
    border-top-color: #389AA6;
    margin-left: -22px;
}

/*Arrow on left*/
.arrow_left:after, .arrow_left:before {
    right: 100%;
    top: 50%;
}

.arrow_left:after {
    border-right-color: #389AA6;
    margin-top: -15px;
}

.arrow_left:before {
    border-right-color: #389AA6;
    margin-top: -22px;
}

/*Arrow on right*/
.arrow_right:after, .arrow_right:before {
    left: 100%;
    top: 50%;
}

.arrow_right:after {
    border-left-color: #389AA6;
    margin-top: -15px;
}

.arrow_right:before {
    border-left-color: #389AA6;
    margin-top: -22px;
}

/*Arrow on top right*/
.arrow_top_right:after, .arrow_top_right:before {
    bottom: 100%;
    left: 90%;
}

.arrow_top_right:after {
    border-bottom-color: #389AA6;
    margin-left: -15px;
}

.arrow_top_right:before {
    border-bottom-color: #389AA6;
    margin-left: -22px;
}

.no-click-layer {
    width: 100%;
    position: absolute;
    height: calc(100%);
}

#guideModal {
    height: calc(100% - 70px);
    margin-top: 70px;
}

.tip-title {
    font-size: 16px;
    line-height: 24px;
    text-shadow: 0 1px 2px rgba(1, 1, 1, 0.2);
}

#loadingScreen {
    background: #000;
    position: absolute;
    top: 75px;
    width: 100%;
    height: calc(100% - 75px);
    text-align: center;
    z-index: 1051;
    border-top: 1px solid #444;
}

#loadingScreen h3 {
    color: white;
    margin-top: 300px;
}

.loader {
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease;
    animation: load6 1.7s infinite ease;
}

.tips-table td {
    padding: 10px;
}

.no-padding {
    padding: 0;
}

.buttons-container {
    margin-top: 15px;
}

#footer {
    padding: 20px;
    border-top: 1px solid #C0C0C0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ddd;
}

#footer-text {
    text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

.footer-container img {
    margin-bottom: 20px;
}


.footer-container {
    max-width: 945px;
    margin: auto;
    text-align:center;
    padding: 20px 0;
}

#lstYAxisMode {
    max-height: 500px;
    max-width: 800px;
    overflow: auto;
}

#btn-order-rows, #btn-order-columns {
    position: absolute;
    border: 1px solid rgb(108, 96, 96);
    border-radius: 0;
    display: none;
    padding: 0;
}

#btn-order-rows {
    left: 95px;
    top: 100px;
    height: 16px;
}

#btn-order-columns {
    left: 157px;
    top: 200px;
    width: 16px;
    height: 50px;
}

#btn-order-rows > span {
    top: -1px;
}

#btn-order-columns > span {
    top: calc(50% - 7px);
}

.page-stamp {
    position: absolute;
    width: 35px;
    text-align: center;
    left: 9px;
    padding: 5px 0 5px 2px;
    margin-top: 5px;
    background: #34b8ee;
    font-size: 18px;
    color: #FFF;
    stroke: #003e58;
    stroke-width: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.page-stamp:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    border: 3px solid transparent;
    border-top-color: #007bae;
    border-right-color: #007bae;
}