{% extends "surveyinterface/base.html" %}
{% load staticfiles %}

{% block body %}

    <div class="container mainContainer">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="page-header">About</h2>

                <p>The Survey Data Viewer is a web application for visualizing the results of social science survey data
                    developed as part of the iUTAH Modeling and Data Federation (<a target="_blank" href="http://data.iutahepscor.org">http://data.iutahepscor.org</a>). For the
                    code and additional documentation, see <a target="_blank" href="http://github.com/UCHIC/SurveyDataViewer">http://github.com/UCHIC/SurveyDataViewer</a>. The code may be
                    adopted for general use following the stipulations in the code repository
                    (<a href="https://github.com/UCHIC/SurveyDataViewer/blob/master/LICENSE" target="_blank">https://github.com/UCHIC/SurveyDataViewer/blob/master/LICENSE</a>).</p>
            </div>
        </div>
    </div>

{% endblock %}