{% extends "surveyinterface/base.html" %}
{% load staticfiles %}

{% block body %}
<div id="surveyContainer">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Surveys</h2>
            </div>
        </div>

    {% for survey in object_list %}
        <div class="thumbnail">
            <img src="{% static 'images/docicon.jpg' %}" alt="...">
            <div class="caption">
                <h4>{{ survey.name }}</h4>
                <p>{{ survey.dateconducted }}</p>
                <p><a href="{% url 'survey-view' survey.code %}" class="btn btn-primary" role="button">View</a></p>
            </div>
        </div>
    {% empty %}
        <span>There are no surveys.</span>
    {% endfor %}

</div>
{% endblock %}