{% extends "surveyinterface/base.html" %}
{% load staticfiles %}

{% block body %}
    <div class="container mainContainer">
        <div class="row">
            <div class="col-xs-12">
                <a id="btn-back" href="../">
                    <span class="glyphicon glyphicon-eur"></span><span>Back to browsing</span>
                </a>

                <a href="{% url 'survey-view' survey.code %}" id="view-data" href="../" type="button"
                   class="btn btn-lg blue-button">
                    Explore results
                </a>
                <a onclick="ga('send', 'event', 'PDF', 'Download', 'Survey Document - PDF Download');"
                   target="_blank" href="{% static survey.pdf.url %}" id="view-instrument" href="../" type="button"
                   class="btn btn-lg gray-button">
                    View copy of survey
                </a>
            </div>
            <div class="col-xs-12">
                <h2 class="page-header">{{ object.name }}</h2>
                <h4>{{ object.description }}</h4>
                <p>{{ object.information }}</p>
            </div>
        </div>
    </div>
{% endblock %}
