{% extends "surveyinterface/base.html" %}
{% block body %}
        <div id="mainContent">
        <div id="listQuestions" class="panel-group"></div>
        <div id="visualizationContent">
            <h3 id="txtTitle"></h3>
            <h3 id="txtDescription"></h3>
            <div class="btn-group">
              <button id="nodeview" class="btn">Node View</button>
              <button id="collapsedview" class="btn">Percentage View</button>
            </div>
        </div>
    </div>
{% endblock %}