{% extends "surveyinterface/base.html" %}
{% load staticfiles %}

{% block body %}
        <div id="mainContent">
        <div id="listQuestions" class="panel-group"></div>
        <div id="visualizationContent">
            <h3 id="txtTitle">{{ object.name }}</h3>
            <h3 id="txtDescription">{{ object.dateconducted }}</h3>
            <div class="btn-group">
              <button id="nodeview" class="btn">Node View</button>
              <button id="collapsedview" class="btn">Percentage View</button>
            </div>
        </div>
    </div>
    <input id="dataFile" type="hidden" value="{{ object.datafile.url }}" readonly>
    <input id="metadataFile" type="hidden" value="{{ object.metadatafile.url }}" readonly>
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js" data-main="{% static 'scripts/main.js' %}"></script>
{% endblock %}